In [5]:
#install kagglehub library
!pip install kagglehub

#import necessary library
import pandas as pd
import numpy as np

import kagglehub

# Download the latest version
path = kagglehub.dataset_download("saurabh00007/iriscsv")

print("Path to dataset files:", path)

Collecting kagglehub
  Downloading kagglehub-0.3.12-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (23.2)
Requirement already satisfied: pyyaml in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2025.1.31)
Downloading kagglehub-0.3.12-py3-none-any.whl (67 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.0/68.0 kB 2.9 MB/s eta 0:00:00
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.12
Downloading from https://www.kaggle.com/api/v1/datasets/download/saurabh00007/iriscsv?dataset_version_number=1...

100%|█████████████████████████████████████| 1.28k/1.28k [00:00<00:00, 892kB/s]

Extracting files...
Path to dataset files: /Users/sndpred/.cache/kagglehub/datasets/saurabh00007/iriscsv/versions/1

In [43]:
#load data from a CSV file
df = pd.read_csv('/Users/sndpred/.cache/kagglehub/datasets/saurabh00007/iriscsv/versions/1/iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [33]:
#Data Inspection
#display first five rows of dataset.
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [27]:
#display last five rows of dataset.
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
#display information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [29]:
#Selecting Values
#printing values for species
df["Species"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [31]:
df.iloc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [35]:
df.loc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [41]:
#Filter Data
df[df['PetalLengthCm'] > 1.5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
5,6,5.4,3.9,1.7,0.4,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [67]:
#add and remove columns
df['Sepal'] = df['SepalLengthCm'] + df['SepalWidthCm']
df['Sepal']

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Name: Sepal, Length: 150, dtype: float64

In [69]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sepal
0,1,5.1,3.5,1.4,0.2,Iris-setosa,8.6
1,2,4.9,3.0,1.4,0.2,Iris-setosa,7.9
2,3,4.7,3.2,1.3,0.2,Iris-setosa,7.9
3,4,4.6,3.1,1.5,0.2,Iris-setosa,7.7
4,5,5.0,3.6,1.4,0.2,Iris-setosa,8.6
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,9.7
146,147,6.3,2.5,5.0,1.9,Iris-virginica,8.8
147,148,6.5,3.0,5.2,2.0,Iris-virginica,9.5
148,149,6.2,3.4,5.4,2.3,Iris-virginica,9.6
149,150,5.9,3.0,5.1,1.8,Iris-virginica,8.9

In [71]:
#Remove a column
df.drop('Sepal', axis=1, inplace=True)

In [73]:
print(df.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [75]:
df.drop(3, axis=0, inplace=True)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [77]:
#Rename column
df.columns = ["ID", "SepalWidthCm", "SepalWidth", "PetalLength", "PetalWidth", "Species"]
df

      ID  SepalWidthCm  SepalWidth  PetalLength  PetalWidth         Species
0      1           5.1         3.5          1.4         0.2     Iris-setosa
1      2           4.9         3.0          1.4         0.2     Iris-setosa
2      3           4.7         3.2          1.3         0.2     Iris-setosa
4      5           5.0         3.6          1.4         0.2     Iris-setosa
5      6           5.4         3.9          1.7         0.4     Iris-setosa
..   ...           ...         ...          ...         ...             ...
145  146           6.7         3.0          5.2         2.3  Iris-virginica
146  147           6.3         2.5          5.0         1.9  Iris-virginica
147  148           6.5         3.0          5.2         2.0  Iris-virginica
148  149           6.2         3.4          5.4         2.3  Iris-virginica
149  150           5.9         3.0          5.1         1.8  Iris-virginica

[149 rows x 6 columns]

In [ ]:
#df.rename(columns={'Oldname':'Newname'},inplace=True)

In [79]:
#grouping data
grouped_data = df.groupby('Species').mean()
grouped_data

                         ID  SepalWidthCm  SepalWidth  PetalLength  PetalWidth
Species
Iris-setosa       25.938776      5.014286     3.42449     1.463265    0.244898
Iris-versicolor   75.500000      5.936000     2.77000     4.260000    1.326000
Iris-virginica   125.500000      6.588000     2.97400     5.552000    2.026000

In [81]:
#mean of single column
df["PetalLength"].mean()

3.773825503355704

In [83]:
#sorting data

df.sort_values(by='PetalWidth', ascending=False)

      ID  SepalWidthCm  SepalWidth  PetalLength  PetalWidth         Species
144  145           6.7         3.3          5.7         2.5  Iris-virginica
109  110           7.2         3.6          6.1         2.5  Iris-virginica
100  101           6.3         3.3          6.0         2.5  Iris-virginica
114  115           5.8         2.8          5.1         2.4  Iris-virginica
140  141           6.7         3.1          5.6         2.4  Iris-virginica
..   ...           ...         ...          ...         ...             ...
37    38           4.9         3.1          1.5         0.1     Iris-setosa
9     10           4.9         3.1          1.5         0.1     Iris-setosa
34    35           4.9         3.1          1.5         0.1     Iris-setosa
32    33           5.2         4.1          1.5         0.1     Iris-setosa
12    13           4.8         3.0          1.4         0.1     Iris-setosa

[149 rows x 6 columns]

In [85]:
#Data Cleaning with Pandas
df.describe()

               ID  SepalWidthCm  SepalWidth  PetalLength  PetalWidth
count  149.000000    149.000000  149.000000   149.000000  149.000000
mean    75.979866      5.851678    3.053691     3.773826    1.205369
std     43.191195      0.824507    0.435040     1.760543    0.761292
min      1.000000      4.300000    2.000000     1.000000    0.100000
25%     39.000000      5.100000    2.800000     1.600000    0.300000
50%     76.000000      5.800000    3.000000     4.400000    1.300000
75%    113.000000      6.400000    3.300000     5.100000    1.800000
max    150.000000      7.900000    4.400000     6.900000    2.500000

In [87]:
#display 12 random data from the dataset
df.sample(12)

      ID  SepalWidthCm  SepalWidth  PetalLength  PetalWidth          Species
25    26           5.0         3.0          1.6         0.2      Iris-setosa
116  117           6.5         3.0          5.5         1.8   Iris-virginica
37    38           4.9         3.1          1.5         0.1      Iris-setosa
95    96           5.7         3.0          4.2         1.2  Iris-versicolor
122  123           7.7         2.8          6.7         2.0   Iris-virginica
40    41           5.0         3.5          1.3         0.3      Iris-setosa
127  128           6.1         3.0          4.9         1.8   Iris-virginica
106  107           4.9         2.5          4.5         1.7   Iris-virginica
10    11           5.4         3.7          1.5         0.2      Iris-setosa
129  130           7.2         3.0          5.8         1.6   Iris-virginica
9     10           4.9         3.1          1.5         0.1      Iris-setosa
80    81           5.5         2.4          3.8         1.1  Iris-versicolor

In [93]:
missing_values = df.isnull().sum()
missing_values

ID              0
SepalWidthCm    0
SepalWidth      0
PetalLength     0
PetalWidth      0
Species         0
dtype: int64

In [95]:
#Handling missing values
#remove rows with missing values

df.dropna(inplace=True)

In [ ]:
#replace with 0
df.fillna(value=0, inplace=True)

In [ ]:
#remove duplicate rows
df.drop_duplicates(inplace=True)